# Distribution / packaging
**/*.egg-info/
**/*.egg
.installed.cfg
**/*.dist-info/
**/*.dist-info/*
**/*.egg-info/*
**/REQUESTED

# Environment files
.env
.env.*
.env.prod
.env.prod.local
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
server/.env.production
server/node_modules/
server/dist/
clien/.env

# OS artifacts
.DS_Store
Thumbs.db

### Frontend ###
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
dist-ssr/
.cache/

# ESLint
.eslintcache

# Tailwind CSS
.tailwindcss/

# Environment files (Frontend)
.env
.env.*
.env.prod
.env.prod.local
.env.local
.env.development.local
.env.test.local
.env.production

